
  <div class="form-group">
    <label for="{{label}}">{{label}}</label>
    <input
      [class.is-invalid]="
        ngControl.touched && ngControl.invalid
      "
      [formControl]="ngControl.control"
      type={{type}}
      class="form-control"
      placeholder={{label}}
    />
    <div
      *ngIf="ngControl.control.errors?.required"
      class="invalid-feedback"
    >
      Please enter a {{label}}.
    </div>
    <div
      *ngIf="ngControl.control.errors?.minlength"
      class="invalid-feedback"
    >
    {{label}} must be atleast {{ngControl.control.errors.minlength['requiredLength']}}
</div>
    <div
      *ngIf="ngControl.control.errors?.maxlength"
      class="invalid-feedback"
    >
      {{label}} must be atleast {{ngControl.control.errors.maxlenth['requiredLength']}}
    </div>
    <div
      *ngIf="ngControl.control.errors?.isMatching"
      class="invalid-feedback"
    >
      password do not watch
    </div>
  
  </div>
