<div class="text-center mt-3">
  <h2>
    {{ predicate === "liked" ? "Members I like" : "Members who like me" }}
  </h2>
</div>

<div class="container">
  <div class="row">
    <div class="btn-group" name="predicate">
      <button
        class="btn btn-primary"
        btnRadio="liked"
        [(ngModel)]="predicate"
        (click)="loadLikes()"
      >
        Members i like
      </button>
      <button
        class="btn btn-primary"
        btnRadio="likedBy"
        [(ngModel)]="predicate"
        (click)="loadLikes()"
      >
        Members who like me
      </button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3"  *ngFor="let member of members  | paginate
    : {
        itemsPerPage: pageSize,
        currentPage: pagination?.currentPage,
        totalItems: pagination?.totalItems
      }">
       <app-member-card [member]="member"></app-member-card>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center" *ngIf="pagination">

  <pagination-controls
  class="my-pagination"
  [directionLinks]="true"
  (pageChange)="pageChanged($event)"
  ></pagination-controls>
</div>